<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a href="/admin/articles/new" class="btn btn-success">Criar novo artigo</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(articles => { %> 
                <tr>
                    <th><%= articles.id %></th>
                    <th><%= articles.title %></th>
                    <th><%= articles.slug %></th>
                    <th><%= articles.category.title %></th>
                    <th>
                        <a href="/admin/articles/edit/<%= articles.id %>" class="btn btn-warning">Editar</a>
                        
                        <form action="/admin/articles/delete" method="POST" class="d-inline" onsubmit="confirmDelete(event,this)">
                            <input type="hidden" name="id" value="<%= articles.id %>">
                            <button type="submit" class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                </tr>
            <%})%>
        </tbody>
    </table>
</div>
<%- include("../../partials/footer.ejs") %>

<script>
    function confirmDelete(event,form){
        event.preventDefault();
        var decision = confirm("Você realmente quer deletar esse artigo?")

        if(decision){
            form.submit()
        }
    }
</script>